<p>

<% if !resource.errors.details[:password_confirmation].blank? %>
  <% case resource.errors.details[:password_confirmation].first[:error] %>
    <% when  :confirmation %>
    <%= "確認用パスワードを正しく入力して下さい" %>
  <% end %>
<% end %>

</p>


