<p>
  
<% if !resource.errors.details[:current_password].blank? %>
  <% case resource.errors.details[:current_password].first[:error] %>
    <% when :blank %>
    <%= "現在のパスワードを入力して下さい" %>
    <% when :invalid %>
    <%= "パスワードが違っています" %>
  <% end %>
<% end %>

</p>