<p>

<% if !resource.errors.details[:password].blank? %>
  <% case resource.errors.details[:password].first[:error] %>
    <% when  :invalid %>
    <%= "半角英数字で入力して下さい" %>
    <% when  :too_short %>
    <%= "6文字以上で設定して下さい" %>
  <% end %>
<% end %>

</p>


