<div class="row justify-content-center">
  <%= form_for(:user_session, as: resource_name, url: '/test_login' ) do |f| %>
  <%= f.submit "テストユーザでログイン", class: "btn_form_submit btn_bayoux btn" %>
  <% end %>
</div>