<div class="field">
  <div id="btn_file_uploader"><i class="<%= yield(:uploader_icon) %> fa-lg"></i></div>
  <input type="file" id="files" name="<%= yield(:uploader) %>" class="uploader" />
  <input type="text" id="filename" placeholder="選択されていません" class="uploader" readonly/>
  <p class="uploader_info">※画像を変更する場合はファイルを選択して下さい</p>
</div>