<div id="vf_<%= i %>" class="col-12 video_url_field">
    <input type="text" class="video_url" name="[videos][<%= i %>]" value="https://www.youtube.com/watch?v=<%= yt.id.video_id %>" />
    <button type="button" id="<%= i %>" class="delete_video" onclick="deleteVideo_url(this);">
        <i class="fas fa-times"></i>
    </button>
</div>
