<% provide(:purchase_url, @book.purchase_url) %>
<% provide(:image, @book.image) %>
<% provide(:title, @book.title) %>
<% provide(:price, @book.price.to_s) %>
<% provide(:proper_title, @book.proper_title) %>
<% provide(:author, @book.author) %>

<% provide(:youtube_links, 'books/youtube_links_edit' ) %>
<% provide(:tags_checkbox, 'books/tags_checkbox_edit' ) %>


<div id="book_new_page" class="container card">

<%= render 'books/books_form' %>

</div>