<% provide(:page, "Home") %>

<div class="">

  <div class="book_shelf">
  </div>
  
  <section class="introduce_shelf">
    
  </section>
  
  <section class="add_books">
    
  </section>
  
  <section class="tsundoku">
    
  </section>
  
  <div class="pile_of_books">
  </div>
  
  <section class="note_down_ideas">
    
  </section>
  
  <section class="what_can_do_with_shelf">
    
  </section>


</div>
  

