/*　いらん？→　@import "bootstrap-sprockets";*/
@import "bootstrap";


/*=========================
      color theme
=========================*/


$Lavender       : #F9FBFE;
$Gainsboro      : #E4E4E4;
$Bayoux         : #64707B;
$SteelGrey      : #41464B;
$SkyBlue        : #26B1DB;
$CerisePink     : #E13D6D;
$Alert          : #ED404C;



/*=========================
        Universal
=========================*/

body{
  font-family: 'Roboto',sans-serif ;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  background-color: $Lavender;
  width: 100%;
  height: 100%;
}



.default_title{
  margin: 0;
  font-family: 'Kosugi Maru', ;
  color: $SteelGrey ;
}

.notice{
  position: absolute;
  top: 62px;
  color: white;
  background: $SkyBlue;
  padding: 20px 40px;
  z-index: 3;
  border-radius: 5px;
  display: block
}

.alert{
  display: none;
}

.card{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
  border-style: none;
  max-width: 720px ;
}

.line{
  border-top: solid 1px $Gainsboro ;
  width: 200px ;
  margin:0 auto;
}

/*=========================
          Button
=========================*/

.btn{
  font-size: 14px;
  outline: none !important;
  &:hover{
    opacity: .8;
    color: white;
  }
  &:focus-visible{
    opacity: .5;
    outline: none;
  }
}

.btn_text{
  color: $SteelGrey;
  &:hover{
    color: $SteelGrey;
    background: $Gainsboro;
  }
}
.btn_text_white{
  color: white;
  &:hover{
    color: white;
    background: $Bayoux;
  }
}

.btn_skyblue{
  color: white ;
  background-color: $SkyBlue ;
}

.btn_bayoux{
  color: white ;
  background-color: $Bayoux ;
}


/* profile */
/* Tags */
.btn_bayouxx{
  width: 36px ;
  height: 32px ;
  color: $Bayoux ;
}


.btn_icon_bayoux{
  color: $Bayoux;
  &:hover{
    color: $Bayoux;;
    text-decoration: none;
    opacity: .7;
    
    }
}


/*=========================
          Form
=========================*/

.field{
  position: relative;
}

.standard_form{
  color: $SteelGrey;
  padding: 5px 10px;
  border: solid 1px $Bayoux;
  border-radius: 5px;
  outline: none;
  background: white !important;
  width: 280px;
  &:hover{
    border: solid 1px black;
  }
  &:focus{
    border: solid 2px $Bayoux;
    margin: -1px 0;
  }
  &:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    color: $SteelGrey !important;
  }
}
.standard_form_label{
  font-size: 12px;
  padding: 0 5px;
  color:$Bayoux;
  background: white;
  position: absolute;
  top: 15px;
  left: 10px;
}


.img_uploader{
  outline: none;
}

.btn_form_submit{
  margin-top: 15px;
  width: 280px;
  outline: none;
}

.wrapper_form_aux{
  margin-top: 50px;
  color: $SteelGrey;
  a{
    color: $SteelGrey;
    &:hover{
      text-decoration: none;
    }
  }
}
.wrapper_bottom_btns{
  width: 280px;
  .btn{
    margin-left: 10px;
  }
}

/*=========================
      Navigation
=========================*/

#logo_icon{
  color: $SkyBlue;
  margin-right: 3px ;
  font-size: 24px;
}
#logo{
  font-family: 'Patua One',sans-serif ;
  color: $SteelGrey;
  font-size: 24px;
    &:hover{
      text-decoration-line: none;
    }
  }

.navbar{
  background: $Lavender !important; 
}
.nav-white{
  background: white !important;
}

.btn_nav{
  font-family: 'Kosugi Maru', ;
  padding: 7px 15px;
  border-radius: 10px;
}

#btn_to_login{
}

#btn_to_signup{
  margin-right: -3px;
}

/*=========================
       Menu Drawer
=========================*/

.layer{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
}

.icon_open_menu{
  width: 30px;
  margin-right: 10px;
  color: $SteelGrey;
  &:hover{
    cursor: pointer;
  }
}

.icon_close_menu{
  margin-left: 225px;
  margin-top: -42px;
  color: $Bayoux;
  width : 22px;
  &:hover{
    cursor: pointer;
  }
  i{
    font-size: 22px;
  }
}
.menu_side_area{
  padding-top: 62px;
  position: fixed;
  width: 270px;
  height: 100%;
  top: 0;
  right: 0;
  background: $SteelGrey;
  z-index: 10;
  visibility: visible;
  transform: translate(270px);
  transition: all .4s;
}

.menu_list{
  list-style: none;
  a{
    font-family: 'Kosugi Maru', ;
    font-size: 16px;
    color: white;
    width: 150px;
    text-shadow: 1px 1px 2px $SteelGrey;
    &:hover{
      text-decoration: none;
      border-radius: 10px;
    }
  }
}



/*=========================
           Home
=========================*/


/*=========================
          Signup
=========================*/

#signup_page{
  .row{
    margin-top: 15px;
  }
  div:nth-child(2){
    margin-top: 24px;
  }
}


/*=========================
          Login
=========================*/


#login_page .row{
  margin-top: 15px;
}

#login_page .standard_form{
  background: white;
}


/*=========================
          Forget
=========================*/

#forget_page{
  .row{
    margin-top: 15px;
  }
  div:nth-child(2){
    margin-top: 24px;
  }
}


/*=========================
       Profile
=========================*/


.prf-img{
  border-radius:100px ;
  margin: 40px 0 0 60px;
  width: 150px;
  height: 150px;
}

.name_email_wrapper{
  height: 200px ;
  margin: 10px 0 0 25px;
  min-width: 255px ;
}

.nickname{
  font-size: 16px ; 
  color: $SteelGrey ;
  font-weight: bold;
  margin-top: 80px;
}
.email{
  font-size: 14px;
  color: $Bayoux ;
  font-weight: bold;
  margin-top: -40px;
}

.introduce-comment{
  font-size: 14px ; 
  color: $SteelGrey ;
  font-weight: bold;
  height: 120px ;
  margin-top: 40px;
  min-width: 255px ;
}

.num-books{
  font-size: 22px;
  font-weight: nomarl;
  color: $SteelGrey ;
  height: 160px ;
  line-height: 160px ;
  min-width: 105px ;
  i{
    color: $SkyBlue;
    margin-right: 7px ;
  }
}

/*num-book 4桁表示するには、min-widthを115pxにする必要あり*/

.edit_wrapper{
  position: relative;
  .edit_prf{
      width: 36px ;
      height: 32px ;
      position: absolute;
      right: 80px;
      bottom: 40px;
      display: none;
  }
  &:hover{
    .edit_prf{
      display: block;
    }
  }
}

/*=========================
       Profile Edit
=========================*/
#prof_edit_page{
  .row{
    margin-top: 15px;
  }
 padding: 25px 0;
}

.current_avatar{
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin-left: -19px;
}

.wrapper_uploader_prof_edit{
  .field{
    color: $SteelGrey;
    font-size: 12px;
    margin-left: -40px;
  }
  p{
    margin: 0 0 5px 15px;
  }
}

/*=========================
          Tags
=========================*/

.card_tag{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
  border-style: none;
  outline: none;
}

.page_title_card{
  padding: 15px 20px;
  background: white;
}

.page_title_card h4 i{
  color: $Bayoux; 
}

#btn_plus_tag{
  margin: 8px 0 0 40px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 25px;
  font-weight: bold;
  color: white ;
  background-color: $SkyBlue ;
  border: none;
  outline: none;
  
}
.popup_new_tag .new_tag_title{
  margin-left: 15px;
  height: 30px;
  line-height: 30px;
  border: none;
  &:focus{
    outline: none;
  }
  &:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    color: $SteelGrey !important;
  }
}

#tags {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;

	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
					transform: translate(-50%,-50%);
					
  .tag li {
	display: inline-block;
  }
  .tag .tag_wrapper {
	line-height: 44px;
	position: relative;
	display: inline-block;
	width: 180px;
	height: 44px;
	margin: 0 50px 10px 10px;
	padding: 0 20px 0 23px;
	-webkit-transition: color 0.2s;
	        transition: color 0.2s;
	text-decoration: none;
	border-radius: 0 3px 3px 0;
	background: $SkyBlue;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
    &::before, &::after {
    background: $Lavender;/*背景色*/
    }
    &::before {
  	position: absolute;
  	top: 19px;
  	left: 6px;
  	width: 8px;
  	height: 8px;
  	content: '';
  	border-radius: 10px;
  	background: $Lavender ;
  	z-index: 2;
    }
    &::after {
  	position: absolute;
  	top: -1px;
  	left: -6px;
  	width: 0;
  	height: 0;
  	content: '';
  	border-style: solid;
  	border-width: 23px 12px 23px 0;
  	border-color: transparent $SkyBlue  transparent transparent;
  	border-radius: 4px;
    }
    &:hover {
    opacity: 0.8;
    }
    &:hover:after {
	  /* border-color: transparent #555555 transparent transparent; */
    }
   
    .delete_tag{
        color: white;
        position: absolute;
        right: -20px;
        bottom: 8px;
        display: none;
        &:hover{
          color: $Alert;
          text-decoration: none;
        }
    }
    &:hover{
        .delete_tag{
          display: block;
        }
    }
  }
}

.tag_form{
 position: relative;
}

#tags{
  margin-top: 80px;
  transform: translateY(100%) !important;
  transform: translateX(-50%) !important;
}

.tag_field{
  font-family: 'Kosugi Maru', ;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px $SteelGrey;
  background: $SkyBlue;
  height: 44px ;
  border: none;
  outline: none ;
  line-height: 44px;
  &:focus{
    outline: none;
  }
  &:hover{
    cursor: default;
  }
}

#submit_form_tags{
  display: none;
}

/*=========================
      Miscellaneous
=========================*/

