/*　いらん？→　@import "bootstrap-sprockets";*/
@import "bootstrap";


/*=========================
      color theme
=========================*/


$Lavender       : #F9FBFE;
$Gainsboro      : #E4E4E4;
$Bayoux         : #64707B;
$SteelGrey      : #41464B;
$SummerSky      : #26B1DB;
$CerisePink     : #E13D6D;
$Error          : #ED404C;



/*=========================
        Universal
=========================*/

body{
  font-family: 'Roboto',sans-serif ;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  background-color: $Lavender;
}


/*=========================
          Button
=========================*/


/* profile */
.btn_bayoux{
  width: 36px ;
  height: 32px ;
  color: $Bayoux ;
}




/*=========================
      Navigation
=========================*/

#logo_icon{
  color: $SummerSky;
  margin-right: 3px ;
  font-size: 24px;
}
#logo{
  font-family: 'Patua One',sans-serif ;
  color: $SteelGrey;
  font-size: 24px;
    &:hover{
      text-decoration-line: none;
    }
  }

.navbar{
  background-color: $Lavender !important; 
}

/*=========================
       Profile
=========================*/

.card{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
  border-style: none;
  max-width: 720px ;
}

.prf-img{
  border-radius:100px ;
  margin: 40px 0 0 40px;
  width: 150px;
  height: 150px;
}

.name_email_wrapper{
  height: 200px ;
  margin: 10px 0 0 20px;
  min-width: 255px ;
}

.nickname{
  font-size: 16px ; 
  color: $SteelGrey ;
  font-weight: bold;
  margin-top: 60px;
}
.email{
  font-size: 14px;
  color: $Bayoux ;
  font-weight: bold;
  margin-top: -40px;
}

.introduce-comment{
  font-size: 14px ; 
  color: $SteelGrey ;
  font-weight: bold;
  height: 120px ;
  margin-top: 40px;
  min-width: 255px ;
}

.num-books{
  font-size: 22px;
  font-weight: nomarl;
  color: $SteelGrey ;
  height: 160px ;
  line-height: 160px ;
  min-width: 105px ;
  i{
    color: $SummerSky;
    margin-right: 7px ;
  }
}

/*num-book 4桁表示するには、min-widthを115pxにする必要あり*/

.edit_wrapper{
  position: relative;
  .edit_prf{
        position: absolute;
        right: 40px;
        bottom: 40px;
        display: none;
      }
  &:hover{
    .edit_prf{
      display: block;
    }
  }
}

.line{
  border-top: solid 1px $Gainsboro ;
  width: 200px ;
  margin:0 auto;
}


/*=========================
      Miscellaneous
=========================*/

